[submodule "non_arduino_examples/zephyr/note-zephyr"]
	path = non_arduino_examples/zephyr/note-zephyr
	url = https://github.com/blues/note-zephyr.git
[submodule "non_arduino_examples/zephyr/note-c"]
	path = non_arduino_examples/zephyr/note-c
	url = https://github.com/blues/note-c
