[submodule "samples/zephyr/note-zephyr"]
	path = samples/zephyr/note-zephyr
	url = https://github.com/blues/note-zephyr.git
[submodule "samples/zephyr/note-c"]
	path = samples/zephyr/note-c
	url = https://github.com/blues/note-c
